@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
</div>

<div class="list-group">
    <a href="/admin/users" class="list-group-item list-group-item-action active" aria-current="true">
        Users
    </a>
</div>